
.hidden, .hidden button {
    display: none !important;
}



.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1 !important
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
#competitorsEditForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #competitorsEditForm label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #competitorsEditForm label {
        font-weight: bolder;
    }
#competitorsAddForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#competitorsAddForm label, button, input{
    margin: 10px;
    padding: 7px;
}
#competitorsAddForm label {
    font-weight: bolder;
}

#categoriesEditForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #categoriesEditForm label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #categoriesEditFormlabel {
        font-weight: bolder;
    }
#categoriesAddForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#categoriesAddForm label, button, input{
        margin: 10px;
        padding: 7px;
}

#categoriesAddForm label{
        font-weight: bolder;
}

#competitionsEditForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #competitionsEditForm label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #competitionsEditForm label {
        font-weight: bolder;
    }
#competitionsAddForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#competitionsAddForm label, button, input {
        margin: 10px;
        padding: 7px;
}

#competitionsAddForm label {
        font-weight: bolder;
}
