table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }
#formdiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#formdiv label, button, input{
    margin: 10px;
    padding: 7px;
}
#formdiv label{
    font-weight: bolder;
}

#updateformdivcategory {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdivcategory label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdivcategory label {
        font-weight: bolder;
    }
#formdivcategory{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#formdivcategory label, button, input{
        margin: 10px;
        padding: 7px;
}

#formdivcategory label{
        font-weight: bolder;
}

#updateformdivcompetition {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdivcompetition label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdivcompetition label {
        font-weight: bolder;
    }
#formdivcompetition {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#formdivcompetition label, button, input {
        margin: 10px;
        padding: 7px;
}

#formdivcompetition label {
        font-weight: bolder;
}
